* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    color: #333;
  }
  
  .container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
  }
  
  select, button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 500;
  }

  button:disabled {
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  p {
    margin-top: 10px;
    color: #555;
  }

  p#status-message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
  }

  /* With small font sans-serif */
  p#log {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    background-color: #f7f7f7;
    font-size: 9px;
    font-family: sans-serif;
  }

  .unit-select-container {
    display: flex;
    justify-content: space-between;
  }

  .unit-select-container input {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .unit-select-container label {
    display: block;
    margin-bottom: 10px;
  }


  .mijia-image {
    max-width: 100%;
    margin-top: 20px;
    max-height: 180px;
  }


  /* <div class="capability read"> */
  div.capability.read button {
    background-color: #28a745;
    color: #fff;
    border: none;
  }

  /* <div class="capability write"> */
  div.capability.write button {
    background-color: #007bff;
    color: #fff;
    border: none;
  }