* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    color: #333;
  }
  
  .container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
  }
  
  select, button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 500;
  }
  
  button:hover {
    background-color: #218838;
  }

  button:disabled,
  button[disabled] {
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed;
  }
  
  p {
    margin-top: 10px;
    color: #555;
  }

  .mijia-image {
    width: 100%;
  }
